<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PHD2_mail_alert.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PHD2_mail_alert.My.MySettings>
            <setting name="SMTPuser" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPpass" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPserver" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="subject" serializeAs="String">
                <value>PHD2 guding error</value>
            </setting>
            <setting name="messageBody" serializeAs="String">
                <value>I tried my best, but somehow I lost the guide star!
Your attention is needed!</value>
            </setting>
            <setting name="ssloption" serializeAs="String">
                <value>SSL/TLS</value>
            </setting>
        </PHD2_mail_alert.My.MySettings>
    </userSettings>
</configuration>